@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght,YTLC@0,6..12,200..1000,491;1,6..12,200..1000,491&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}
